@media (max-width: 1600px) {
    .article {
        &-top__picture {
            max-width: 745px;
            source,
            img {
                max-width: 745px;
            }
        }
    }
    .article-top {
        padding: 100px 0;
    }
}

@media (max-width: 1200px) {
    .header__bottom::after {
        border-top-width: 150px;
    }
    .header-menu__item+.header-menu__item {
        margin-left: 30px;
    }
    .header-buttons__callme-btn {
        margin-right: 30px;
    }
    .header__logo {
        margin-bottom: 30px;
    }
    .catalog__inner {
        padding-top: 100px;
    }
    .blog::before,
    .reviews::before {
        border-top-width: 119px;
        top: -118px;
    }
    .blog::after {
        border-bottom-width: 119px;
        bottom: -118px;
    }
    .gallery__list {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .mfp-gallery__item img {
        max-width: 280px;
    }
    .page-counter {
        margin: 75px auto 0;
    }
    .article {
        &__inner {
            margin-bottom: 100px;
        }
        &-top__picture {
            max-width: 545px;
            source,
            img {
                max-width: 545px;
            }
        }
    }
    .article-top {
        padding: 60px 0;
        margin-bottom: 40px;
    }
    .article-quote {
        margin-bottom: 40px;
        max-width: 800px;
    }
    .article-list {
        margin-bottom: 40px;
    }
    .article-block {
        margin-bottom: 40px;
        &__img {
            max-width: 350px;
            source,
            img {
                width: 350px;
            }
        }
    }
}

@media (max-width: 950px) {
    .header__bottom::after {
        bottom: -149px;
    }
    .header__top-inner {
        padding: 20px 0;
    }
    .menu-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: 20px;
        width: 50px;
        height: 50px;
    }
    .menu-btn__inner {
        width: 30px;
    }
    .menu-btn__line {
        height: 3px;
    }
    .header-menu {
        display: none;
        position: absolute;
        background-color: #116578;
        top: 80px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1;
        padding-bottom: 195px;
    }
    .header-menu__link {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #fff;
    }
    .header-menu__link::before {
        height: 0;
    }
    .header-menu__list {
        display: block;
    }
    .header-menu:first-child {
        border-top: 1px solid #fff;
    }
    .header-buttons__callme-btn {
        margin-right: 15px;
        font-size: 12px;
        line-height: 13px;
    }
    .header-menu__item {
        display: block;
    }
    .header-menu__item+.header-menu__item {
        margin-left: 0;
    }
    .header-menu__item .header__logo {
        margin-bottom: 20px;
    }
    .header-menu__item .header__bottom::after {
        border-top-width: 130px;
        bottom: -129px;
    }
    .title {
        margin-bottom: 50px;
    }
    .title__text {
        font-weight: 600;
        font-size: 35px;
        line-height: 38px;
        padding: 0 50px;
    }
    .catalog {
        margin: 129px 0 129px;
    }
    .catalog__inner {
        padding-top: 60px;
    }
    .catalog-item__title {
        font-size: 27px;
        line-height: 30px;
    }
    .blog::before,
    .reviews::before {
        border-top-width: 99px;
        top: -98px;
    }
    .blog::after {
        border-bottom-width: 99px;
        bottom: -98px;
    }
    .blog__items {
        margin-bottom: 50px;
    }
    .blog-item__text {
        font-size: 15px;
        line-height: 17px;
        margin: 0 10px 10px;
    }
    .blog-item__date {
        font-size: 12px;
        line-height: 13px;
        margin: auto 10px 10px;
    }
    .mfp-gallery__item {
        margin-right: 0;
    }
    .mfp-gallery__item img {
        max-width: 330px;
    }
    .gallery__list {
        margin-bottom: 120px;
    }
    .footer__top {
        margin-bottom: 40px;
    }
    .footer__logo-mini {
        margin-bottom: 20px;
    }
    .payment-systems__item+.payment-systems__item {
        margin-left: 20px;
    }
    .footer__menu-list {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
    }
    .footer__menu-item+.footer__menu-item {
        margin-top: 20px;
    }
    .footer__contacts-title {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 29px;
    }
    .footer__contacts-item {
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
    }
    .footer__contacts-item+.footer__contacts-item {
        margin-top: 22px;
    }
    .catalog-section__item {
        padding-bottom: 25px;
    }
    .catalog-section__item-info {
        font-size: 25px;
    }
    .article {
        &__inner {
            margin-bottom: 100px;
        }
        &-top__picture {
            max-width: 400px;
            source,
            img {
                max-width: 400px;
            }
        }
    }
    .article-top {
        padding: 25px 0;
        margin-bottom: 40px;
        &__title {
            font-size: 35px;
            line-height: 38px;
        }
    }
    .article-quote {
        max-width: 600px;
    }
}

@media (max-width: 900px) {
    .contacts {
        margin-bottom: 100px;
        &__content {
            display: block;
        }
    }
    .contacts-info {
        max-width: 570px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
}

@media (max-width: 850px) {
    .header__bottom::after {
        border-top-width: 120px;
        bottom: -120px;
    }
    .menu-btn {
        margin-left: 10px;
        width: 40px;
        height: 40px;
    }
    .menu-btn__inner {
        width: 25px;
    }
    .menu-btn__line {
        height: 2px;
    }
    .header-buttons__callme-btn {
        line-height: 11px;
    }
    .header-buttons__basket img {
        width: 18px;
    }
    .btn-link {
        padding: 17px 25px;
        line-height: 11px;
    }
    .header-menu {
        padding-bottom: 195px;
    }
    .header-menu__list {
        font-size: 19px;
        line-height: 23px;
    }
    .header-menu__item {
        padding: 6px 0 5px;
    }
    .blog::before,
    .reviews::before {
        border-top-width: 89px;
        top: -88px;
    }
    .blog::after {
        border-bottom-width: 89px;
        bottom: -88px;
    }
    .blog-item__img {
        margin-bottom: 10px;
    }
    .blog-item__text {
        font-size: 12px;
        line-height: 13px;
        margin: 0 10px 10px;
    }
    .blog-item__date {
        font-size: 9px;
        line-height: 10px;
    }
    .mfp-gallery__item img {
        max-width: 300px;
    }
    .blog .btn-link {
        padding: 20px 35px;
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .footer__top {
        display: block;
        text-align: center;
    }
    .footer__logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .footer__logo-mini {
        margin-right: 20px;
    }
    .payment-systems {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .footer__menu {
        margin-bottom: 20px;
    }
    .delivery {
        padding: 50px 0 25px;
    }
    .payment {
        padding: 25px 0 50px;
    }
    .section-blog {
        padding: 50px 0 80px;
    }
    .article {
        &__inner {
            margin-bottom: 70px;
        }
        &-top__picture {
            max-width: 580px;
            top: 200px;
            source,
            img {
                max-width: 580px;
            }
        }
    }
    .article-top {
        margin-bottom: 330px;
    }
    .article-quote {
        max-width: 500px;
    }
}

@media (max-width: 700px) {
    .header__bottom::after {
        border-top-width: 100px;
        bottom: -99px;
    }
    .header-menu {
        padding-bottom: 130px;
    }
    .header-menu__list {
        font-size: 17px;
        line-height: 20px;
    }
    .catalog__inner {
        padding-top: 40px;
    }
    .title {
        margin-bottom: 30px;
    }
    .title__text {
        font-size: 28px;
        line-height: 30px;
        padding: 0 30px;
    }
    .subtitle__txt {
        font-size: 16px;
        padding: 0 0 35px 0;
    }
    .title__line-left,
    .title__line-right {
        height: 1px;
    }
    .catalog {
        margin: 100px 0 99px;
    }
    .catalog__item-title {
        font-size: 21px;
        line-height: 23px;
    }
    .blog::before,
    .reviews::before {
        border-top-width: 69px;
        top: -68px;
    }
    .blog::after {
        border-bottom-width: 69px;
        bottom: -68px;
    }
    .blog__items {
        margin-bottom: 30px;
    }
    .mfp-gallery__item img {
        max-width: 245px;
    }
    .route {
        padding: 50px 0 25px;
    }
    .catalog-section {
        padding: 25px 0 50px;
    }
    .catalog-section__item,
    .catalog-section__item:nth-child(2n) {
        flex-direction: column;
        text-align: center;
    }
    .catalog-section__item-img {
        max-width: 320px;
    }
    .catalog-section__item-info {
        font-size: 20px;
        line-height: 25px;
        padding-left: 0;
    }
    .delivery-pay__item {
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
    }
    .delivery-pay__item-img {
        margin-bottom: 25px;
    }
    .delivery-pay__item-list {
        padding: 10px 0 5px;
    }
    .article-top {
        margin-bottom: 340px;
        &__title {
            font-size: 28px;
            line-height: 30px;
        }
        &__date {
            font-size: 20px;
            line-height: 25px;
        }
    }
    .article-top__picture {
        top: 190px;
        margin: 0 15px;
        source,
        img {
            margin: 0 15px;
        }
    }
}

@media (max-width: 550px) {
    .header__bottom::after {
        border-top-width: 96px;
        bottom: -96px;
    }
    .header__top-inner {
        padding: 15px 0;
    }
    .header-menu {
        top: 60px;
        padding-bottom: 80px;
    }
    .header-menu__list {
        font-size: 15px;
        line-height: 17px;
    }
    .header__logo {
        margin-bottom: 10px;
    }
    .catalog {
        margin: 79px 0 79px;
    }
    .catalog__list {
        display: block;
    }
    .catalog__item-title {
        font-size: 21px;
        line-height: 23px;
    }
    .catalog__item-img {
        margin-bottom: 10px;
        max-width: 300px;
    }
    .catalog__item-title {
        font-size: 15px;
        line-height: 17px;
    }
    .title {
        margin-bottom: 20px;
    }
    .title__text {
        line-height: 23px;
        padding: 0 20px;
    }
    .blog__items {
        display: block;
        margin: 0 auto;
    }
    .blog-item {
        margin: 0 auto 20px;
        max-width: 300px;
        width: 100%;
    }
    .blog-item+.blog-item {
        margin: 0 auto 20px;
    }
    .mfp-gallery__item img {
        max-width: 300px;
        width: 100%;
    }
    .article-top {
        margin-bottom: 330px;
    }
}

@media (max-width: 500px) {
    .article-top {
        margin-bottom: 305px;
    }
    .contacts-info {
        &__box {
            display: block;
        }
        &__box:nth-child(1) {
            margin-bottom: 20px;
        }
        &__box:nth-child(2) {
            margin-bottom: 20px;
        }
        &__box:nth-child(3) {
            margin-bottom: 20px;
        }
        &__box:nth-child(4) {
            margin-bottom: 0px;
        }
        &__box-title {
            margin-bottom: 10px;
        }
        &__box-link {
            margin-bottom: 5px;
        }
    }
    .contacts {
        &__form {
            padding: 20px;
        }
    }
}

@media (max-width: 450px) {
    .header-menu {
        padding-bottom: 0;
    }
    .blog-item {
        max-width: 250px;
    }
    .mfp-gallery__item img {
        max-width: 250px;
    }
    .btn-link {
        padding: 13px;
        font-size: 11px;
    }
    .route__nav-item {
        padding-right: 15px;
    }
    .route__nav-link {
        font-size: 16px;
        padding-right: 15px;
    }
    .article-top {
        margin-bottom: 270px;
    }
}

@media (max-width: 400px) {
    .article-top {
        margin-bottom: 240px;
    }
}

@media (max-width: 350px) {
    .article-top {
        margin-bottom: 220px;
    }
}

@media (min-width: 951px) {
    .header-menu {
        display: block !important;
    }
}