@import 'global';
.header {
    background: #116578;
    color: #fff;
    position: relative;
}

.header__top-inner {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu__list {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.header-menu__item {
    display: inline-block;
    padding: 10px 0 9px;
}

.header-menu__item+.header-menu__item {
    margin-left: 70px;
}

.header-menu__link {
    position: relative;
}

.header-menu__link::before {
    content: "";
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    background-color: #219bb7;
    height: 2px;
    bottom: -8px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header-menu__link:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}

.menu-btn {
    width: 60px;
    height: 60px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fff;
    background: transparent;
    margin-left: 30px;
}

.menu-btn__inner {
    width: 40px;
}

.menu-btn__line {
    height: 5px;
    background: #fff;
    transition: box-shadow 400ms ease-in-out, color 300ms ease-in-out;
}

.menu-btn__line+.menu-btn__line {
    margin-top: 5px;
}

.header-buttons {
    display: flex;
    align-items: center;
    &__callme-btn {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding: 14px 15px;
        border: 1px solid #fff;
        margin-right: 70px;
        text-transform: uppercase;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    }
    &__callme-btn:hover {
        box-shadow: 0 0 40px 40px #fff inset;
        color: #116578;
    }
    &__basket {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 300ms ease-in-out;
        position: relative;
    }
    &__basket-num {
        position: absolute;
        top: -3px;
        right: -3px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #36B4D1;
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 50%;
        text-align: center;
        align-items: center;
        transition: all 300ms ease-in-out;
    }
    &__basket svg {
        position: absolute;
        left: 21%;
        top: 21%;
    }
    &__basket:hover {
        box-shadow: 0 0 40px 40px #fff inset;
        .header-buttons__basket-num {
            color: #fff;
            background: #36B4D1;
        }
    }
    &__basket:hover svg #basket {
        fill: #116578;
    }
    &__basket svg #basket {
        transition: all 300ms ease-in-out;
    }
}

.header__bottom {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-top-width: 200px;
        border-right-width: 50vw;
        border-bottom-width: 0;
        border-left-width: 50vw;
        border-color: #116578 transparent transparent transparent;
    }
    &-inner {
        text-align: center;
    }
    .btn-link {
        padding: 24px 65px 29px;
    }
}

.header__logo {
    margin-bottom: 50px;
    width: 52.5%;
}

.header__logo img {
    max-width: 100%;
    height: auto;
}

.catalog {
    margin: 176px 0 179px;
}

.catalog__inner {
    padding-top: 160px;
    text-align: center;
}

.catalog__list {
    display: flex;
    justify-content: space-between;
}

.catalog-item__img {
    overflow: hidden;
}

.catalog-item__img source,
.catalog-item__img img {
    max-width: 370px;
    width: 100%;
    transition: all 0.3s;
}

.catalog-item__img source:hover,
.catalog-item__img img:hover {
    transform: scale(1.1);
}

.catalog-item__link-img {
    margin-bottom: 20px;
}

.catalog-item__title {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
}

.blog {
    background: #116578;
    position: relative;
}

.blog::before {
    content: "";
    position: absolute;
    top: -177px;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 179px;
    border-right-width: 100vw;
    border-bottom-width: 0px;
    border-left-width: 0;
    border-color: transparent #116578 transparent transparent;
}

.blog::after {
    content: "";
    position: absolute;
    bottom: -178px;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 179px;
    border-left-width: 100vw;
    border-color: transparent transparent transparent #116578;
}

.blog__title,
.reviews__title {
    color: #fff;
}

.blog__title .title__line-left,
.blog__title .title__line-right,
.reviews__title .title__line-left,
.reviews__title .title__line-right {
    background: #fff;
}

.blog__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.blog-item {
    width: 370px;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(171, 171, 171, 0.2);
    display: flex;
    flex-direction: column;
}

.blog-item+.blog-item {
    margin-left: 30px;
}

.blog-item__img {
    margin-bottom: 20px;
    overflow: hidden;
}

.blog-item__img source,
.blog-item__img img {
    max-width: 370px;
    width: 100%;
    transition: all 0.5s;
}

.blog-item__img:hover source,
.blog-item__img:hover img {
    transform: scale(1.1);
}

.blog-item__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin: 0 20px 10px;
}

.blog-item__date {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #3e3e3e;
    margin: auto 20px 20px;
}

.blog__btn {
    text-align: center;
    color: #fff;
    &-link {
        padding: 24px 65px 29px;
        max-width: 300px;
        width: 100%;
    }
}

.gallery {
    margin-top: 170px;
}

.gallery__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 190px;
}

.mfp-gallery__item {
    margin-bottom: 30px;
    margin-right: 30px;
}

.mfp-gallery__item:nth-child(3n) {
    margin-right: 0;
}

.mfp-gallery__item source,
.mfp-gallery__item img {
    max-width: 370px;
    width: 100%;
}

.mfp-counter {
    display: none;
}

.reviews {
    background: #116578;
    position: relative;
    padding: 15px 0 50px;
}

.reviews::before {
    content: "";
    position: absolute;
    top: -177px;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 179px;
    border-right-width: 100vw;
    border-bottom-width: 0px;
    border-left-width: 0;
    border-color: transparent #116578 transparent transparent;
}

.reviews-slider__inner,
.reviews-slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.slick-slide {
    margin: 0 10px;
}

.reviews-slider__item {
    background: #f8f8f8;
    text-align: center;
    position: relative;
    margin-top: 50px;
}

.reviews-slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-15%);
    background: transparent;
    outline: none;
    padding: 0;
    border-width: 0;
    border-style: nine;
    border-color: transparent;
    border-image: none;
}

.reviews-slider__btnprev {
    left: -84px;
}

.reviews-slider__btnnext {
    right: -64px;
}

.reviews-item__avatar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
}

.reviews-item__avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.reviews-item__name {
    margin: 87px 0 10px;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
}

.reviews-item__text {
    padding: 30px 35px 68px;
}

.reviews-slider__item {
    position: relative;
}

.reviews-slider__item::after {
    content: "";
    position: absolute;
    background-image: url(../images/quotes.png);
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 20px;
}

.jq-ry-container {
    margin: 0 auto;
}

.reviews-slider {
    padding-bottom: 70px;
}

.slick-dots {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    padding: 0 5px;
}

.slick-dots li.slick-active button {
    background-color: #fff;
}

.slick-dots button {
    padding: 0;
    margin: 0;
    font-size: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    outline: none;
}

.footer {
    padding: 50px 0 30px;
}

.footer--blue {
    background-color: #116578;
    color: #fff;
}

.footer--blue .footer__copy {
    color: #fff;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.footer__logo {
    padding-right: 10px;
}

.footer__logo-mini {
    margin-bottom: 65px;
}

.payment-systems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-systems__item+.payment-systems__item {
    margin-left: 30px;
}

.footer__menu {
    padding-right: 10px;
}

.footer__menu-list {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.footer__menu-item+.footer__menu-item {
    margin-top: 35px;
}

.footer__menu-link {
    position: relative;
}

.footer__menu-link::before {
    content: "";
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    background-color: #000;
    height: 1px;
    bottom: -2px;
    transition: all 0.3s;
}

.footer--blue .footer__menu-link::before {
    background-color: #219bb7;
}

.footer__menu-link:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}

.footer__contacts {
    padding-right: 10px;
}

.footer__contacts-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 39px;
}

.footer__contacts-item {
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.footer__contacts-item+.footer__contacts-item {
    margin-top: 29px;
}

.footer__contacts-item a {
    position: relative;
}

.footer__contacts-item a::before {
    content: "";
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    background-color: #000;
    height: 1px;
    bottom: -2px;
    transition: all 0.3s;
}

.footer--blue .footer__contacts-item a::before {
    background-color: #219bb7;
}

.footer__contacts-item a:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}

.footer__bottom {
    text-align: center;
}

.footer__copy {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #575656;
}


/* page catalog-section style start */

.route {
    padding: 50px 0;
}

.route__nav-list {
    display: flex;
    align-items: center;
}

.route__nav-item {
    padding-right: 30px;
}

.route__nav-link {
    position: relative;
    padding-right: 30px;
    font: 400 18px/1 "Montserrat", Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: #333;
    white-space: nowrap;
}

.route__nav-link::before {
    content: "";
    position: absolute;
    border: solid #333;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(-45deg);
}

.route__nav-item:last-child .route__nav-link::before {
    display: none;
}

.route__nav-link:hover,
.route__nav-item:last-child .route__nav-link {
    color: #36B4D1;
}

.catalog-section {
    padding: 50px 0 100px;
}

.catalog-section__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    border: 1px solid transparent;
}

.catalog-section__item:hover {
    border: 1px solid #36B4D1;
}

.catalog-section__item:nth-child(2n) {
    flex-direction: row-reverse;
}

.catalog-section__item-img,
.catalog-section__item-info,
.catalog-section__item-link {
    max-width: 570px;
    width: 100%;
}

.catalog-section__img {
    overflow: hidden;
}

.catalog-section__item-img img {
    width: 100%;
}

.catalog-section__item-info {
    padding-left: 20px;
    font-size: 34px;
    font-weight: 600;
    line-height: 41px;
}

.catalog-section__item-txt,
.catalog-section__item-price {
    padding-bottom: 30px;
}

.btn-link.catalog-section__item-btn {
    cursor: pointer;
    color: #fff;
    max-width: 300px;
    width: 100%;
    padding: 24px 15px;
    font-size: 18px;
}


/* page catalog-section style end */


/* page payment style start */

.delivery {
    padding: 50px 0 50px;
}

.payment {
    padding: 80px 0 70px;
}

.delivery-pay .title {
    margin-bottom: 30px;
}

.delivery-pay__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    max-width: 1170px;
    width: 100%;
    border: 1px solid #36B4D1;
    margin: 0 auto 30px;
    color: #333;
    font-size: 18px;
    line-height: 27px;
}

.delivery-pay__item-img {
    width: 200px;
    height: 200px;
    background: #DCDCDC;
}

.delivery-pay__item-title {
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
}

.delivery-pay__item-list {
    padding: 25px 0 5px;
}

.delivery-pay__item-link {
    color: #36B4D1;
    cursor: pointer;
    display: block;
    padding: 10px 0;
}

.delivery-pay__item-txt {
    padding-top: 20px;
    max-width: 928px;
    width: 100%;
}


/* page payment style end */


/* page blog style start */

.section-blog {
    padding: 50px 0 160px;
}

.page-counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 155px;
    width: 100%;
    color: #333;
    font-size: 18px;
    margin-left: auto;
}

.page-counter__arrow {
    border: solid #333;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 6px;
    cursor: pointer;
}

.page-counter__arrow-right {
    transform: rotate(-45deg);
}

.page-counter__arrow-left {
    transform: rotate(135deg);
}

.page-counter__active-page {
    font-weight: 600;
}


/* page blog style end */


/* page article style start */

.article {}

.article__inner {
    margin-bottom: 160px;
}

.article-top {
    margin-bottom: 70px;
    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 49px;
        color: #333;
        margin-bottom: 20px;
    }
    &__date {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        color: #333;
        margin-bottom: 50px;
    }
    &__picture {
        max-width: 945px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        source,
        img {
            max-width: 945px;
            width: 100%;
        }
    }
}

.article-quote {
    margin-bottom: 69px;
    font-style: italic;
    color: #333;
    // max-width: 870px;
    &__item+&__item {
        margin-top: 30px;
    }
}

.article-list {
    margin-bottom: 70px;
    &__title {
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        margin-bottom: 30px;
    }
    &__item {
        padding-left: 42px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 7px;
            left: 0;
            width: 12px;
            height: 12px;
            background: #36B4D1;
            border-radius: 50%;
        }
    }
    &__item+&__item {
        margin-top: 30px;
    }
}

.article-block {
    margin-bottom: 50px;
    &__img {
        float: left;
        margin: 0 30px 30px 0;
        max-width: 470px;
        width: 100%;
        source,
        img {
            width: 470px;
        }
    }
    &--right {
        flex-direction: row-reverse;
        .article-block__img {
            float: right;
            margin: 0 0 30px 30px;
        }
    }
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}


/* page article style end */


/* page contacts style start */

.contacts {
    margin-bottom: 160px;
    &__content {
        margin: 20px 0 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #333;
    }
    &__form {
        max-width: 430px;
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 47px 44px 48px;
        border: 1px solid #36B4D1;
        .btn-link {
            margin-top: 10px;
            max-width: 430px;
        }
    }
    &__form-title {
        font-weight: 600;
        margin-bottom: 30px;
    }
    &__form-box {
        border: 1px solid #C8C8C8;
        margin-bottom: 20px;
        input {
            max-width: 335px;
            width: 100%;
            padding: 13px 20px;
            font-weight: 500;
            font-size: 16px;
            line-height: 27px;
            outline: none;
            border: none;
            color: #333;
            &::placeholder {
                color: #7A7A7A;
            }
            &:focus::placeholder {
                color: #C8C8C8;
            }
        }
    }
    &__map {
        max-width: 1170px;
        width: 100%;
        height: 400px;
        iframe {
            max-width: 1170px;
            width: 100%;
            height: 400px;
        }
    }
}

.contacts-info {
    width: 50%;
    &__box {
        display: flex;
        justify-content: flex-start;
    }
    &__box:nth-child(1) {
        margin-bottom: 33px;
    }
    &__box:nth-child(2) {
        margin-bottom: 76px;
    }
    &__box:nth-child(3) {
        margin-bottom: 73px;
    }
    &__box:nth-child(4) {
        margin-bottom: 0px;
    }
    &__box-title {
        max-width: 200px;
        width: 100%;
    }
    &__box-content {
        font-weight: 600;
        max-width: 370px;
        width: 100%;
        margin-right: 10px;
    }
    &__box-link {
        display: block;
        margin-bottom: 20px;
    }
}


/* page contacts style end */


/* popups style start */

.open-product-card {
    max-width: 1420px;
    width: 100%;
    padding: 70px 125px 90px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    position: relative;
    color: #333;
    background: #fff;
    &__item-img {
        max-width: 470px;
        width: 100%;
        margin-right: 30px;
        source,
        img {
            max-width: 470px;
            width: 100%;
        }
    }
    &__info {
        &-title {
            font-weight: 500;
            font-size: 22px;
            line-height: 27px;
            margin-bottom: 30px;
            max-width: 570px;
            width: 100%;
        }
        &-descr {
            margin-bottom: 30px;
            max-width: 620px;
            width: 100%;
        }
        &-spec {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 50px;
        }
        &-specleft,
        &-specright {
            max-width: 200px;
            width: 100%;
        }
        &-code,
        &-brand {
            margin-bottom: 16px;
        }
        &-code,
        &-brand,
        &-age,
        &-country {
            span {
                font-weight: 500;
            }
        }
    }
    &__buy {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &-price {
            font-weight: 600;
            font-size: 34px;
            line-height: 41px;
            margin-right: 70px;
            white-space: nowrap;
        }
        &-btn {
            max-width: 300px;
            text-align: center;
        }
    }
}

.product-added {
    max-width: 600px;
    width: 100%;
    padding: 50px 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #333;
    background: #fff;
    position: relative;
    &__title {
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 30px;
        white-space: nowrap;
    }
    &__item-img {
        max-width: 300px;
        width: 100%;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        source,
        img {
            max-width: 300px;
            width: 100%;
        }
    }
    &__info-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 40px;
    }
    &__goto-basket,
    &__continue-shopping {
        max-width: 250px;
        width: 100%;
        margin-bottom: 20px;
    }
}

.basket__item {
    max-width: 1420px;
    width: 100%;
    padding: 50px 65px 73px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    background: #fff;
    position: relative;
    &-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 40px;
    }
}

.basket-content {
    &__title {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 13px;
        border-bottom: 1px solid #dcdcdc;
        &-prodname {
            max-width: 792px;
            width: 100%;
        }
        &-num {
            padding-left: 13px;
            max-width: 227px;
            width: 100%;
        }
        &-sum {
            padding-left: 14px;
            max-width: 248px;
            width: 100%;
        }
    }
    &__item {
        border-bottom: 1px solid #dcdcdc;
        display: flex;
        justify-content: flex-start;
        &-left,
        &-right {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }
        &-left {
            max-width: 775px;
        }
        &-right {
            max-width: 515px;
        }
        &-img {
            max-width: 110px;
            width: 100%;
            margin: 10px 27px 10px 0;
            source,
            img {
                max-width: 110px;
                width: 100%;
            }
        }
        &-prodname {
            max-width: 665px;
            width: 100%;
        }
        &-num {
            max-width: 240px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &-minus,
            &-plus {
                font-weight: 400;
                font-size: 30px;
                line-height: 35px;
                outline: none;
                cursor: pointer;
                border: none;
                background: transparent;
                width: 40px;
                height: 40px;
            }
            &-value {
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                margin: 0 20px 0 15px;
            }
        }
        &-sum {
            max-width: 195px;
            width: 100%;
            font-weight: 500;
            font-size: 22px;
            line-height: 27px;
        }
        &-del {
            outline: none;
            cursor: pointer;
            border: none;
            background: transparent;
        }
    }
    &__amount {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 50px 0 40px auto;
        max-width: 309px;
        width: 100%;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        &-num {
            font-weight: 600;
            white-space: nowrap;
        }
    }
    &__ordering {
        max-width: 300px;
        width: 100%;
        margin: 0 0 0 auto;
        display: block;
    }
}

.ordering {
    max-width: 700px;
    width: 100%;
    padding: 60px 50px 96px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    text-align: center;
    background: #fff;
    border: 1px solid #333;
    position: relative;
    &__title {
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        color: #000;
        margin-bottom: 60px;
    }
    &__form {
        margin-bottom: 70px;
        &-box {
            color: #505050;
            border: 1px solid #C8C8C8;
            input,
            select {
                display: block;
                padding: 19px 20px;
                max-width: 600px;
                width: 100%;
                outline: none;
                border: none;
            }
        }
        &-box+&-box {
            margin-top: 30px;
        }
    }
    &__ordering {
        max-width: 300px;
        width: 100%;
        z-index: 5;
    }
}

.jq-selectbox {
    width: 100%;
    position: relative;
    &__select {
        height: 60px;
        padding: 19px 20px;
        border: none;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        font: inherit;
        color: #333;
        text-shadow: none;
        outline: none;
        border: none;
    }
    &__select-text {
        text-align: left;
    }
    &__trigger {
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
        border-left: none;
        width: 60px;
    }
    &__trigger-arrow {
        border: none;
        background-image: url(../images/select-arrow.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 20px;
        height: 12px;
        margin: 24px 20px;
    }
    &__dropdown {
        width: 100% !important;
        top: -1px !important;
        left: 0 !important;
        border: 1px solid #C8C8C8;
        ul {
            background: #fff;
            li {
                max-width: 600px;
                width: 100%;
                padding: 19px 20px;
                text-align: left;
                position: relative;
            }
            li:nth-child(1)::before {
                content: '';
                position: absolute;
                background-image: url(../images/select-arrow-up.svg);
                background-size: cover;
                background-repeat: no-repeat;
                width: 20px;
                height: 12px;
                top: 24px;
                right: 20px;
            }
            li:nth-child(n+2):hover {
                background: #F4F4F4;
            }
        }
    }
}

.order-processed {
    max-width: 700px;
    width: 100%;
    padding: 70px 50px 78px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #fff;
    position: relative;
    &__title {
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        color: #000;
        margin-bottom: 40px;
    }
    &__text {
        color: #505050;
        margin-bottom: 40px;
    }
    &__amount {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        color: #000;
    }
}

.open-product-card__close-modal,
.product-added__close-modal,
.basket__close-modal,
.ordering__close-modal,
.order-processed__close-modal {
    position: absolute;
    top: 30px;
    right: 30px;
    background-image: url('../images/close-pop-up.svg');
    width: 20px;
    height: 20px;
}

@import 'media';