@import 'global';
.header {
    background: #116578;
    color: #fff;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-top-width: 200px;
        border-right-width: 50vw;
        border-bottom-width: 0;
        border-left-width: 50vw;
        border-color: #116578 transparent transparent transparent;
    }
}

.header__top-inner {
    padding: 26px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    &__list {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        margin-top: 10px;
    }
    &__item {
        display: inline-block;
        padding: 10px 0 9px;
        &+& {
            margin-left: 70px;
        }
    }
    &__link {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 0;
            left: auto;
            right: 0;
            background-color: #219BB7;
            height: 2px;
            bottom: -8px;
            transition: all .3s;
        }
        &:hover::before {
            width: 100%;
            right: auto;
            left: 0;
        }
    }
}

.menu-btn {
    width: 60px;
    height: 60px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fff;
    background: transparent;
    margin-left: 30px;
    &__inner {
        width: 40px;
    }
    &__line {
        height: 5px;
        background: #fff;
        transition: box-shadow 400ms ease-in-out, color 300ms ease-in-out;
        +.menu-btn__line {
            margin-top: 5px;
        }
    }
}

.header-buttons {
    display: flex;
    align-items: center;
    padding-top: 10px;
    &__callme-btn {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding: 14px 15px;
        border: 1px solid #fff;
        margin-right: 70px;
        text-transform: uppercase;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        &:hover {
            box-shadow: 0 0 40px 40px #fff inset;
            color: #116578;
        }
    }
    &__basket {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 300ms ease-in-out;
        position: relative;
        svg {
            position: absolute;
            left: 21%;
            top: 21%;
        }
        &:hover {
            box-shadow: 0 0 40px 40px #fff inset;
            svg #basket {
                fill: #116578;
            }
        }
        svg #basket {
            transition: all 300ms ease-in-out;
        }
    }
}

.header__bottom-inner {
    text-align: center;
}

.header__logo {
    margin-bottom: 50px;
    width: 52.5%;
    img {
        max-width: 100%;
        height: auto;
    }
}

.catalog {
    margin: 176px 0 179px;
    &__inner {
        padding-top: 160px;
        text-align: center;
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &-item {
        &__img {
            overflow: hidden;
            source,
            img {
                max-width: 370px;
                width: 100%;
                transition: all .3s;
            }
            source:hover,
            img:hover {
                transform: scale(1.1);
            }
        }
    }
    &-item__link-img {
        margin-bottom: 20px;
    }
    &-item__title {
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
    }
}

.blog {
    background: #116578;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: -177px;
        width: 0;
        height: 0;
        border-style: solid;
        border-top-width: 179px;
        border-right-width: 100vw;
        border-bottom-width: 0px;
        border-left-width: 0;
        border-color: transparent #116578 transparent transparent;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -178px;
        width: 0;
        height: 0;
        border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-bottom-width: 179px;
        border-left-width: 100vw;
        border-color: transparent transparent transparent #116578;
    }
}

.blog__title,
.reviews__title {
    color: #fff;
    .title__line-left,
    .title__line-right {
        background: #fff;
    }
}

.blog__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.blog-item {
    width: 370px;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(171, 171, 171, 0.2);
    display: flex;
    flex-direction: column;
    &+& {
        margin-left: 30px;
    }
    &__img {
        margin-bottom: 20px;
        overflow: hidden;
        source,
        img {
            max-width: 370px;
            width: 100%;
            transition: all .5s;
        }
    }
    &__img:hover {
        source,
        img {
            transform: scale(1.1);
        }
    }
    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        margin: 0 20px 10px;
    }
    &__date {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #3E3E3E;
        margin: auto 20px 20px;
    }
}

.blog__btn {
    text-align: center;
    color: #fff;
}

.gallery {
    margin-top: 170px;
}

.gallery__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 190px;
}

.mfp-gallery__item {
    margin-bottom: 30px;
    margin-right: 30px;
    &:nth-child(3n) {
        margin-right: 0;
    }
    source,
    img {
        max-width: 370px;
        width: 100%;
    }
}

.mfp-counter {
    display: none;
}

.reviews {
    background: #116578;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: -177px;
        width: 0;
        height: 0;
        border-style: solid;
        border-top-width: 179px;
        border-right-width: 100vw;
        border-bottom-width: 0px;
        border-left-width: 0;
        border-color: transparent #116578 transparent transparent;
    }
}

.reviews-slider {
    &__inner,
    .slick-track {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        background: #F8F8F8;
        max-width: 370px;
        width: 100%;
        text-align: center;
        position: relative;
        margin-top: 50px;
        margin-right: 30px;
    }
    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-15%);
        background: transparent;
        outline: none;
        padding: 0;
        border-width: 0;
        border-style: nine;
        border-color: transparent;
        border-image: none;
    }
}

.reviews-slider__btnprev {
    left: -84px;
}

.reviews-slider__btnnext {
    right: -64px;
}

.reviews-item__avatar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    & img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}

.reviews-item__name {
    margin: 87px 0 10px;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
}

.reviews-item__text {
    padding: 30px 35px 68px;
}

.reviews-slider__item {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        background-image: url(../images/quotes.png);
        width: 60px;
        height: 60px;
        right: 20px;
        bottom: 20px;
    }
}

.jq-ry-container {
    margin: 0 auto;
}

.reviews-slider {
    padding-bottom: 70px;
}

.slick-dots {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    li {
        display: inline-block;
        padding: 0 5px;
        &.slick-active button {
            background-color: #fff;
        }
    }
    button {
        padding: 0;
        margin: 0;
        font-size: 0;
        width: 11px;
        height: 11px;
        border: 1px solid #fff;
        border-radius: 50%;
        background-color: transparent;
        outline: none;
    }
}

.footer {
    margin: 50px 0;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.footer__logo {
    padding-right: 10px;
    &-mini {
        margin-bottom: 65px;
    }
}

.payment-systems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__item+&__item {
        margin-left: 30px;
    }
}

.footer__menu {
    padding-right: 10px;
    &-list {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
    }
    &-item+&-item {
        margin-top: 35px;
    }
    &-link {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 0;
            left: auto;
            right: 0;
            background-color: #000;
            height: 1px;
            bottom: -2px;
            transition: all .3s;
        }
        &:hover::before {
            width: 100%;
            right: auto;
            left: 0;
        }
    }
}

.footer__contacts {
    padding-right: 10px;
    &-title {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 39px;
    }
    &-item {
        display: block;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        &+& {
            margin-top: 29px;
        }
        & a {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 0;
                left: auto;
                right: 0;
                background-color: #000;
                height: 1px;
                bottom: -2px;
                transition: all .3s;
            }
            &:hover::before {
                width: 100%;
                right: auto;
                left: 0;
            }
        }
    }
}

.footer__bottom {
    text-align: center;
}

.footer__copy {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #575656;
}

@import 'media';